<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="compose-modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">
                    <span style="font-size: larger">&times;</span>
                </button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-envelope text-muted"></span>
                    <span class="text-info" style="margin-left: 8px">{{message_to_user.nickname}}</span>
                    <small class="text-muted">
                        @ <a ng-href="{{message_to_user.sign_oauth_home}}" target="_blank">{{message_to_user.sign_oauth_type}}</a>
                    </small>
                </h4>
            </div>
            <div class="modal-body">
                <div ngs-scroll-bottom style="height: 360px; overflow-y: scroll; margin-right: 1px;">
                    <div class="text-center" ng-if="message_has_more" style="padding: 5px">
                        <a class="btn btn-xs btn-link" ng-click="messageList()">
                            <span class="text-muted">Load More</span>
                        </a>
                    </div>
                    <div class="text-info" style="padding-right: 12px; padding-bottom: 5px;">
                        <blockquote class="message" ng-repeat="message in message_buffer" ng-class="{'text-info': user._id!=message.user._id, 'text-success': user._id==message.user._id, 'blockquote-reverse': user._id==message.user._id}">
                            <div ng-if="message.image">
                                <img ngs-image="{{message.image}}">
                            </div>
                            <p ng-bind="message.content"></p>
                            <footer ng-if="user._id!=message.user._id">
                                <span data-placement="right" ngs-title="{{message.created_at|date:'EEEE, MM/dd, yyyy'}}">
                                    {{message.city}} · {{message.created_at|date:'HH:mm:ss'}}
                                </span>
                            </footer>
                            <footer ng-if="user._id==message.user._id">
                                <span data-placement="left" ngs-title="{{message.created_at|date:'EEEE, MM/dd, yyyy'}}">
                                    {{message.created_at|date:'HH:mm:ss'}} · {{message.city}}
                                </span>
                            </footer>
                        </blockquote>
                        <blockquote ng-if="message_uploading" class="message text-success blockquote-reverse">
                            <div>
                                <img ng-src="{{messageImageUploadSrc}}">
                            </div>
                            <p>{{message_compose.content}} <span class="text-muted">[{{messageImageUploadFinished}}%]</span></p>
                        </blockquote>
                    </div>
                </div>
                <form name="message_form" role="form" ng-submit="messageSend()">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="message_compose.content" ng-readonly="message_uploading" required>
                        <div class="input-group-btn">
                            <div class="btn btn-default btn-file">
                                <span class="glyphicon glyphicon-picture"></span>
                                <input type="file" accept="image/gif, image/png, image/jpeg" onchange="angular.element(this).scope().messageImageChanged(this)">
                            </div>
                            <button type="submit" class="btn btn-info" ng-disabled="message_form.$invalid||message_uploading" style="border-top-right-radius: 0">
                                <span class="glyphicon glyphicon-send" style="margin-right: 5px"></span> Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>