<!DOCTYPE html>
<html lang=en>
<meta charset=utf-8>
<meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
<title>Error {{ status }} ({{ message|default('ToT') }})</title>
<link href="/static/stylesheets/error.css" rel="stylesheet">
<a href="/"><span id=logo aria-label=MidWe></span></a>
<p><b>{{ status }}.</b> <ins>That’s an error.</ins>
{% if status == 404 %}
<p>The requested URL <code>{{ url }}</code> was not found on this server.
{% else %}
<p>There was an error. Please try again later.
{% endif %}
<br>
<ins>That’s all we know.</ins>
{% if stack && env === 'development' %}
<script>console.log("{{ stack|e('js') }}");</script>
{% endif %}