<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ common.app_name }}</title>

    <link href="/static/stylesheets/midwe.main.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-center" href="/" ng-hide="user">
                {{ common.app_name }}
            </a>
        </div>
        {% include 'common/navbar.html' %}
    </div>
</div>

<div class="container">
    <div data-ng-view>
        {% include 'common/loading.html' %}
    </div>
</div>

{% include 'common/footer.html' %}
<script data-main="/static/midwe.main" src="/static/require.min.js"></script>
{% include 'common/analyticstracking.html' %}
</body>
</html>