<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ common.app_name }} | {{ common.app_brief }}</title>

    <link href="/static/stylesheets/midwe.sign.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                {{ common.app_name }}
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 20px">
        <div style="height: 360px">
            <div class="site-wrapper">
                <div class="site-wrapper-inner">
                    <div class="cover-container">
                        <div class="text-center">
                            <h2>Sign In With</h2>
                            <div class="text-center" style="margin: 16px; white-space:nowrap;">
                                <a class="oauth-logo" href="/oauth/type/douban">
                                    <img class="img-rounded" src="/static/images/oauth/douban.png">
                                </a>

                                <a class="oauth-logo" href="/oauth/type/google">
                                    <img class="img-rounded" src="/static/images/oauth/google.png">
                                </a>

                                <a class="oauth-logo" href="/oauth/type/github">
                                    <img class="img-rounded" src="/static/images/oauth/github.png">
                                </a>

                                <a class="oauth-logo" href="/oauth/type/facebook">
                                    <img class="img-rounded" src="/static/images/oauth/facebook.png">
                                </a>
                            </div>
                            {% if oauth_error %}
                            <p class="lead text-warning">{{ oauth_error }}</p>
                            {% else %}
                            <p class="lead">{{ common.app_brief }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-left text-muted">
                    {{ common.organisation }} &copy; {{ now()|date('Y') }}
                </p>
            </div>
        </div>
    </div>
</div>

{% include 'common/analyticstracking.html' %}
</body>
</html>





