<div class="row" style="margin-left: -6px; margin-right: -6px;">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left: 6px; padding-right: 6px;">
        <div class="content-module">
            <div>
                <ul class="nav nav-tabs">
                    <li class="pull-right">
                        <a class="text-muted" style="border-color: transparent; background-color: transparent;">
                            <span ng-if="ptype=='topic'">
                                {{topic_info.count == 0 ? 0 : page_size * (topic_info.page - 1) + 1}}
                                <span class="text-info">-</span>
                                {{page_size * topic_info.page < topic_info.count ? page_size * topic_info.page : topic_info.count}}
                                <span class="text-info">of</span>
                                {{topic_info.count}}
                            </span>
                            <span ng-if="ptype=='comment'">
                                {{comment_info.count == 0 ? 0 : page_size * (comment_info.page - 1) + 1}}
                                <span class="text-warning">-</span>
                                {{page_size * comment_info.page < comment_info.count ? page_size * comment_info.page : comment_info.count}}
                                <span class="text-warning">of</span>
                                {{comment_info.count}}
                            </span>
                        </a>
                    </li>
                    <li ng-class="{'active': ptype=='topic'}"><a ng-click="ptype='topic'">Topic</a></li>
                    <li ng-class="{'active': ptype=='comment'}"><a ng-click="ptype='comment'">Comment</a></li>
                </ul>
                <div class="tab-content" style="padding-top: 12px">
                    <div ng-if="ptype=='topic'">
                        <div class="table-responsive">
                            <table class="table table-hover table-border-bottom">
                                <tbody>
                                <tr ng-repeat="topic in topic_info.list">
                                    <td class="col-md-8">
                                        <a ng-href="/.:{{idString(topic._id)}}" style="text-decoration: none">
                                            {{topic.title}} [{{topic.comments}}]
                                        </a>
                                    </td>
                                    <td class="col-md-4 text-muted text-right">
                                        <span data-placement="left" ngs-past-time="{{topic.created_at}}" title="{{topic.created_at|date:'short'}}"></span>
                                        <span> · </span>
                                        <span>{{topic.geo_info.city}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <ul class="pagination pagination-sm" style="margin: 0">
                                <li><a ng-click="getTopiclist(topic_info.page-1)"> « </a></li>
                                <li><a ng-click="getTopiclist(topic_info.page)">{{topic_info.page||1}} / {{topic_info.page_total||1}}</a></li>
                                <li><a ng-click="getTopiclist(topic_info.page+1)"> » </a></li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="ptype=='comment'">
                        <div class="table-responsive">
                            <table class="table table-hover table-border-bottom">
                                <tbody>
                                <tr ng-repeat="comment in comment_info.list">
                                    <td class="col-md-10">
                                        <a ng-href="/.:{{idString(comment.topic._id)}}" style="text-decoration: none">
                                            {{comment.topic.title}} [{{comment.topic.comments}}]
                                        </a>
                                        <span class="text-muted" style="margin-left: 5px">
                                            <span class="glyphicon glyphicon-retweet"></span>
                                            <span>{{comment.content}}</span>
                                        </span>
                                    </td>
                                    <td class="col-md-2 text-muted text-right">
                                        <span data-placement="left" ngs-past-time="{{comment.created_at}}" title="{{comment.created_at|date:'short'}}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <ul class="pagination pagination-sm" style="margin: 0">
                                <li><a ng-click="getCommentlist(comment_info.page-1)"> « </a></li>
                                <li><a ng-click="getCommentlist(comment_info.page)">{{comment_info.page||1}} / {{comment_info.page_total||1}}</a></li>
                                <li><a ng-click="getCommentlist(comment_info.page+1)"> » </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 6px; padding-right: 6px;">
        <div class="content-module">
            <div class="media">
                <a class="pull-left">
                    <img class="media-object" ngs-image="{{user.avatar}}" width="64" height="64">
                </a>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a href="/me" style="text-decoration: none">{{user.nickname}}</a>
                        <small class="text-muted" style="margin-left: 8px">
                            @ <a ng-href="{{user.sign_oauth_home}}" target="_blank">{{user.sign_oauth_type}}</a>
                        </small>
                    </h3>
                    <p class="text-info" style="margin: 12px 0 6px">
                        <small class="glyphicon glyphicon-record"></small>
                        [{{user.geo_info.country}}] {{user.geo_info.city}}
                    </p>
                </div>
            </div>
        </div>

        <div class="content-module">
            <p class="text-warning">
                Every topic only comment 1000 times.
            </p>
            <p class="text-muted">
                Comment will be removed when the number of hate
                [<small class="glyphicon glyphicon-thumbs-down"></small>]
                more than the number of like
                [<small class="glyphicon glyphicon-thumbs-up"></small>].
            </p>
        </div>

    </div>
</div>
