<div class="row" style="margin-left: -6px; margin-right: -6px;">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left: 6px; padding-right: 6px;">
        <div class="content-module">
            <div>
                <ul class="nav nav-tabs">
                    <li class="pull-right">
                        <a class="text-muted" style="border-color: transparent; background-color: transparent;">
                            {{contact_info.count == 0 ? 0 : page_size * (contact_info.page - 1) + 1}}
                            <span class="text-warning">-</span>
                            {{page_size * contact_info.page < contact_info.count ? page_size * contact_info.page : contact_info.count}}
                            <span class="text-warning">of</span>
                            {{contact_info.count}}
                        </a>
                    </li>
                    <li class="active"><a>Contact</a></li>
                </ul>
                <div class="tab-content">
                    <div class="contact-repeat" ng-repeat="contact in contact_info.list">
                        <div class="media" ngs-contact="{{getOtherUid(contact)}}">
                            <a class="pull-left" ngs-message="{{getOtherUid(contact)}}">
                                <img class="media-object img-rounded" ngs-image="{{contact.other_user.avatar}}" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="contact-content text-info" ngs-message="{{getOtherUid(contact)}}">
                                    <span>{{contact.content}}</span>
                                    <span class="glyphicon glyphicon-picture" ng-if="contact.image"></span>
                                    <small style="margin-left: 8px">
                                        <span>-</span>
                                        {{contact.user==user._id?user.nickname:contact.other_user.nickname}}
                                        <span>·</span>
                                        <span ngs-past-time="{{contact.created_at}}" title="{{contact.created_at|date:'short'}}"></span>
                                    </small>
                                </div>
                                <div class="text-muted">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>{{contact.other_user.nickname}} @ </span>
                                    <a ng-href="{{contact.other_user.sign_oauth_home}}" target="_blank">
                                        {{contact.other_user.sign_oauth_type}}
                                    </a>
                                    <span class="pull-right">
                                        <span class="text-success" ng-if="contact.unread">
                                            {{contact.unread}} / {{contact.total}} unread
                                        </span>
                                        <span ng-if="!contact.unread">{{contact.total}} record</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right" style="margin-top: 12px">
                        <ul class="pagination pagination-sm" style="margin: 0">
                            <li><a ng-click="getContactlist(contact_info.page-1)"> « </a></li>
                            <li><a ng-click="getContactlist(contact_info.page)">{{contact_info.page||1}} / {{contact_info.page_total||1}}</a></li>
                            <li><a ng-click="getContactlist(contact_info.page+1)"> » </a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 6px; padding-right: 6px;">

        <div class="content-module">
            <div class="media">
                <a class="pull-left">
                    <img class="media-object" ngs-image="{{user.avatar}}" width="64" height="64">
                </a>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a href="/me" style="text-decoration: none">{{user.nickname}}</a>
                        <small class="text-muted" style="margin-left: 8px">
                            @ <a ng-href="{{user.sign_oauth_home}}" target="_blank">{{user.sign_oauth_type}}</a>
                        </small>
                    </h3>
                    <p class="text-info" style="margin: 12px 0 6px">
                        <small class="glyphicon glyphicon-record"></small>
                        [{{user.geo_info.country}}] {{user.geo_info.city}}
                    </p>
                </div>
            </div>
        </div>

        <div class="content-module">
            <div style="margin-top: 8px">
                <button class="btn btn-default btn-sm btn-block" ng-click="sendHere($event)" ng-disabled="!loc_info">
                    <span class="text-success">I'm Here</span>
                </button>
                <div style="margin-top: 5px">
                    <small class="text-info" ng-if="loc_info">
                        <span class="glyphicon glyphicon-screenshot"></span>
                        <span ngs-address="{{loc_info}}"></span>
                    </small>
                    <small class="text-warning" ng-if="!loc_info">
                        Cann't get your location.
                    </small>
                </div>
            </div>
            <div style="line-height: 16px">
                <div class="media buzz-repeat" ng-repeat="here in here_list">
                    <a class="pull-left" ngs-message="{{here.user._id}}">
                        <img class="media-object" ngs-image="{{here.user.avatar}}" width="36" height="36">
                    </a>
                    <div class="media-body">
                        <small class="text-muted">
                            <a ngs-message="{{here.user._id}}">{{here.user.nickname}}</a>
                            <span ngs-address="{{here.loc_info}}"></span>
                        </small>
                        <br>
                        <small class="text-info">
                            <span data-placement="right" ngs-past-time="{{here.created_at}}" title="{{here.created_at|date:'mediumTime'}}"></span>
                            <span ngs-distance="{{here.loc_info}}"></span>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-module">
            <p class="text-info">
                Desktop and tablet support
            </p>
            <p class="text-warning">
                Pre-alpha · laboratory product <br>
                Please be careful and keep it classy :)
            </p>
            <p class="text-muted">
                Your city and location via IP, GPS and WIFI.
            </p>
        </div>

    </div>
</div>
