<div style="height: 360px">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="text-center">
                    <p class="lead">
                        The requested URL
                        <code>{{ location_path|cut:true:25 }}</code>
                        was not found on this server.
                    </p>
                    <p class="lead text-success">
                        <ins>That’s all we know.</ins>
                    </p>
                    <a href="/" class="btn btn-default" style="font-size: 1em">
                        <span class="glyphicon glyphicon-home"></span> Back Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>