
.default-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#loading_circle {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.circleG {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 16px;
    background-color: #FFFFFF;
    -moz-animation-name: bounce_circleG;
    -moz-animation-duration: 2.25s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -moz-border-radius: 20px;
    -webkit-animation-name: bounce_circleG;
    -webkit-animation-duration: 2.25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-border-radius: 20px;
    -ms-animation-name: bounce_circleG;
    -ms-animation-duration: 2.25s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-border-radius: 20px;
    -o-animation-name: bounce_circleG;
    -o-animation-duration: 2.25s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -o-border-radius: 20px;
    animation-name: bounce_circleG;
    animation-duration: 2.25s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    border-radius: 20px;
}

#circleG_1 {
    -moz-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

#circleG_2 {
    -moz-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

#circleG_3 {
    -moz-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    animation-delay: 1.35s;
}

@-moz-keyframes bounce_circleG {
    0% {
    }
    50% {
        background-color: #5cb85c
    }
    100% {
    }
}

@-webkit-keyframes bounce_circleG {
    0% {
    }
    50% {
        background-color: #5cb85c
    }
    100% {
    }
}

@-ms-keyframes bounce_circleG {
    0% {
    }
    50% {
        background-color: #5cb85c
    }
    100% {
    }
}

@-o-keyframes bounce_circleG {
    0% {
    }
    50% {
        background-color: #5cb85c
    }
    100% {
    }
}

@keyframes bounce_circleG {
    0% {
    }
    50% {
        background-color: #5cb85c
    }
    100% {
    }
}