/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: scroll;
    min-width: 768px;
    margin-bottom: 60px;
    font-family: "PingHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif",serif;
    background: #c0deed url(../images/bg.png) no-repeat fixed left 50px;
    _width: expression(document.body.clientWidth > 768 ? "768" : "auto");
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer .text-muted {
    margin: 15px 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 50px 15px 0;
}

.navbar-fixed-top {
    border-bottom-width: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.navbar-fixed-top .navbar-header > a.navbar-brand {
    color: #8ec1da;
    font-size: 32px;
    margin-right: 8px;
}

.navbar-fixed-top .navbar-header > a.navbar-brand:hover {
    color: #8ec1ff;
}

.navbar-default .navbar-nav > .navbar-glyphicon > a {
    max-height: 50px;
    border-bottom-color: #0084b4;
    transition: all 0.15s ease-in-out 0s;
}

.navbar-default .navbar-nav > .navbar-glyphicon > a .glyphicon {
    font-size: large;
    margin-right: 5px;
}

.navbar-default .navbar-nav > .navbar-glyphicon > a:hover {
    color: #0084b4;
    background-color: transparent;
    border-bottom: 5px solid #0084b4;
}
.navbar-default .navbar-nav > .navbar-glyphicon.active > a {
    background-color: transparent;
    border-bottom: 5px solid #0084b4;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
}

.dropdown.navbar-glyphicon > .dropdown-menu > li > a {
    font-size: 150%;
    transition: all 0.15s ease;
}

.dropdown.navbar-glyphicon > .dropdown-menu > li > a:hover {
    color: #0084b4;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

[data-ng-view] {
    margin-top: 12px;
}

.content-module {
    padding: 16px;
    line-height: 20px;
    border-radius: 6px;
    word-break: normal;
    word-wrap: break-word;
    background-color: #fff;
    margin-bottom: 12px;
}


[ng-click], [ngs-message] {
    cursor: pointer;
}

[ngs-past-time]:hover,
[data-distance]:hover {
    text-decoration: underline;
}

.image-loading {
    cursor: pointer;
    border-radius: 8px;
    background-color: #f5f5f5;
}

textarea {
    resize: vertical;
}

/*body .modal {*/
/*overflow-y: hidden;*/
/*}*/

body.modal-open {
    overflow-y: scroll;
}

.modal > .modal-dialog {
    margin-top: 60px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.btn-file {
    overflow: hidden;
    position: relative;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

[ngs-compose-image] [data-preview] img {
    cursor: pointer;
    height: 34px;
    opacity: 0.5;
    margin-left: 2px;
    margin-right: 2px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.search-form-back input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.search-form-back button {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.default-low {
    color: #e1e8ed;
    padding-left: 8px;
    transition: all .2s ease;
}

.default-hide {
    opacity: 0;
    transition: all .2s ease;
}

.alert-new-topic {
    padding: 8px;
    color: #3c763d;
    margin-left: -1px;
    margin-right: -1px;
    background-color: #f5f8fa;
    border-bottom: 1px solid #e1e8ed;
    transition: all 0.15s ease-in-out;
}
.alert-new-topic:hover {
    background-color: #dff0d8;
}

.topic-repeat {
    padding: 8px 15px;
    margin-left: -1px;
    margin-right: -1px;
    border-bottom: 1px solid #e1e8ed;
    transition: all 0.15s ease-in-out;
}
.topic-repeat:hover {
    background-color: #f5f8fa;
}

.topic-repeat .topic-title {
    padding: 4px 0;
    font-size: large;
}

.contact-repeat {
    padding: 5px 8px;
    border-bottom: 1px dashed #ddd;
}

.contact-repeat:hover {
    background-color: #f5f8fa;
}

.contact-repeat .contact-content {
    font-size: larger;
    padding: 4px 0 5px;
}

.table-border-bottom>tbody>tr>td,
.table-border-bottom>tbody>tr>th {
    border-top: none;
    border-bottom: 1px dashed #ddd;
}

/* Common styles for all types */

.topic-detail {
    /*border-bottom: 1px solid #e1e8ed;*/
}

.topic-detail:hover .default-low,
.topic-repeat:hover .default-low,
.comment-repeat:hover .default-low {
    color: #8899a6;
}

.topic-detail:hover .default-hide,
.comment-repeat:hover .default-hide {
    opacity: 1;
    color: #8899a6;
}

.comment-repeat {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.comment-repeat .comment-title {
    padding: 1px 8px 1px 5px;
    background-color: #f0f6f3;
}

.comment-repeat .comment-content {
    padding-top: 5px;
}

.topic-comment-form {
    margin-top: 20px;
    position: relative;
}

.topic-comment-form textarea {
    resize: vertical;
    overflow: hidden;
}

.topic-comment-form button {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.bs-likes-button a {
    color: #777;
    text-decoration: none;
}

.bs-likes-button a:hover,
.bs-likes-button a.active {
    color: #428bca;
}

.bs-likes-button a:last-child {
    margin-left: 5px;
}

.buzz-repeat {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ddd;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.angular-leaflet-map {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .site-wrapper-inner {
        vertical-align: middle;
    }
    .cover-container {
        width: 100%;
    }
}

/*-------------------[ Message Popup ]-------------------*/

blockquote.message {
    font-size: 1em;
    padding: 2px 8px;
    border-left-color: #d9edf7;
    border-right-color: #dff0d8;
}

blockquote.message p {
    margin: 0;
}

blockquote.message img {
    max-width: 100%;
    vertical-align: baseline;
}

/*-------------------[ Back to Top / #back-to-top ]-------------------*/

#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #555;
    opacity: 0.5;
    background: #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#back-to-top:hover {
    color: #222;
    opacity: 0.8;
    text-decoration: none;
}

.spinner-icon {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    display: block;
    background-image: url(../images/spinner-rosetta-blue.gif);
}

.compose-label {
    color: #5cb85c;
}

.topic-label {
    color: #555;
    font-weight: normal;
}