/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    overflow-y: scroll;
    margin-bottom: 60px;
    font: Microsoft Yahei, Serif;
    background-color: #FBFBFB;
    min-width:480px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer .text-muted {
    margin: 15px 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 50px 15px 0;
}

.navbar-brand {
    font-size: 26px;
}

.navbar-fa {
    font-size: 16px;
    min-width: 64px;
}
.navbar-fa:hover {
    background-color: #eeeeee;
}


a.oauth-logo {
    margin: 32px 12px;
    text-decoration: none;
}

a.oauth-logo > img {
    width: 64px;
    height: 64px;
}

a.oauth-logo > img:hover {
    box-shadow: 0 8px 5px #aaa;
}

a.oauth-logo-active > img {
    box-shadow: 0 8px 5px #aaa;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}