<div class="footer" ng-controller="FooterController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p class="text-left text-muted">
                    {{ common.organisation }}
                    {% raw %}
                    <span class="glyphicon glyphicon-heart" ng-class="{'glyphicon-heart-empty': offline, 'text-success': !offline}"></span>
                    <span data-refresh="{{now|date:'short'}}" style="display: none" ng-style="{'display':''}">{{now|date:'yyyy'}}</span>
                    <span class="text-warning" style="margin-left: 10px; display: none;" ng-style="{'display':offline||'none'}">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> {{offline}}
                    </span>
                    {% endraw %}
                </p>
            </div>
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
                <p class="text-right text-muted">
                    <small class="default-low">thanks for my love · all right not reserved</small>
                </p>
            </div>
        </div>
    </div>
</div>