<div style="height: 360px">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="text-center">
                    <div id="loading_circle">
                        <div id="circleG_1" class="circleG"></div>
                        <div id="circleG_2" class="circleG"></div>
                        <div id="circleG_3" class="circleG"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>