<div class="collapse navbar-collapse" ng-controller="NavbarController" style="overflow: hidden">
    <div style="display: none" ng-style="{'display':user?'block':'none'}">
        <ul class="nav navbar-nav">
            <li class="navbar-glyphicon" ng-class="{'active': active('/')}">
                <a href="/"><span class="glyphicon glyphicon-home"></span> MidWe</a>
            </li>
            <li class="navbar-glyphicon" ng-class="{'active': active('/nearby')}">
                <a href="/nearby"><span class="glyphicon glyphicon-map-marker"></span> Nearby</a>
            </li>
            <li class="navbar-glyphicon" ng-class="{'active': active('/message')}">
                <a href="/message"><span class="glyphicon glyphicon-envelope"></span> Message
                    <span class="text-success" ng-if="message_unread">{% raw %}[{{message_unread}}]{% endraw %}</span>
                </a>
            </li>
        </ul>

        <a class="btn btn-success navbar-btn navbar-right" data-toggle="modal" ng-click="showCompose()">
            <span class="glyphicon glyphicon-edit"></span> New Topic
        </a>

        <p class="navbar-text navbar-right" style="margin-right: 100px">
            <a class="navbar-link" data-placement="right" ngs-title="Sign Out" ng-click="signOut()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </p>
    </div>
</div>